<template>
  <v-card width="250" role="list-item">
    <v-card-title>{{ user.name }}</v-card-title>
    <v-card-subtitle>{{ user.role }}</v-card-subtitle>

    <v-card-text> {{ user.name }} live in {{ user.city }} </v-card-text>

    <v-card-actions>
      <div class="fullWidth d-flex flex-row justify-space-between">
        <v-btn color="deep-purple lighten-2" text @click="update">
          Update
        </v-btn>
        <v-btn color="deep-purple lighten-2" text @click="remove">
          Remove
        </v-btn>
      </div>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  name: "User",
  props: {
    user: {
      name: String,
      role: String,
      city: String
    }
  },
  methods: {
    update: function() {
      this.$emit("update");
    },
    remove: function() {
      this.$emit("remove");
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.fullWidth {
  width: 100%;
}
</style>
