<template>
  <div class="container">
    <div
      v-if="!edited"
      class="flexContainer d-flex flex-row justify-center align-center"
    >
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn
            class="mx-2"
            fab
            color="indigo"
            @click="edition(true)"
            aria-label="add user"
            v-bind="attrs"
            v-on="on"
          >
            <v-icon>
              mdi-account-plus
            </v-icon>
          </v-btn>
        </template>
        <span>Add a new user</span>
      </v-tooltip>
    </div>
    <UserForm v-if="edited" @addUser="addUser" @cancel="cancel" />
  </div>
</template>

<script>
import UserForm from "./UserForm.vue";

export default {
  name: "UserCreator",
  components: {
    UserForm
  },
  data: () => ({
    edited: false
  }),
  methods: {
    scrollIntoView() {},
    edition(value) {
      this.edited = value;
    },
    cancel() {
      this.edition(false);
    },
    addUser(user) {
      this.edition(false);
      const { name, role, city } = user;
      this.$store.dispatch("users/addUser", { name, role, city });
    }
  }
};
</script>

<style scoped>
.container {
  height: 300px;
}
.flexContainer {
  height: 100%;
}
</style>
