<template>
  <v-card class="mx-auto my-12" max-width="425" ref="container">
    <v-card-title>New user</v-card-title>
    <v-form v-model="valid">
      <v-container>
        <v-row>
          <v-col cols="12" md="4">
            <v-text-field
              v-model="user.name"
              :rules="nameRules"
              label="Name"
              required
            ></v-text-field>
          </v-col>

          <v-col cols="12" md="4">
            <v-select
              v-model="user.role"
              :items="roles"
              label="Role"
              required
            ></v-select>
          </v-col>

          <v-col cols="12" md="4">
            <v-text-field
              v-model="user.city"
              label="City"
              required
            ></v-text-field>
          </v-col>
        </v-row>
      </v-container>
    </v-form>
    <v-card-actions>
      <v-btn :disabled="!valid" color="success" class="mr-4" @click="validate">
        Validate
      </v-btn>
      <v-btn color="error" class="mr-4" @click="reset">
        Cancel
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
import { ROLES } from "../../../core/types";
export default {
  name: "UserForm",
  props: {},
  data: () => ({
    valid: false,
    roles: ROLES,
    nameRules: [(v) => !!v || "Name is required"],
    user: {
      name: "",
      role: ROLES[0],
      city: ""
    }
  }),
  methods: {
    validate() {
      this.$emit("addUser", this.user);
    },
    reset() {
      this.$emit("cancel");
    }
  },
  mounted() {
    this.$refs.container.$el.scrollIntoView &&
      this.$refs.container.$el.scrollIntoView({ behavior: "smooth" });
  }
};
</script>
