<template>
  <v-row justify="center">
    <v-dialog v-model="open" persistent max-width="600px">
      <v-card>
        <v-card-title>
          <span class="text-h5">User edition</span>
        </v-card-title>
        <v-card-text>
          <v-container>
            <v-row>
              <v-col cols="12" sm="6" md="4">
                <v-text-field
                  v-model="userEdition.name"
                  label="Name*"
                  required
                ></v-text-field>
              </v-col>
              <v-col cols="12" sm="6">
                <v-select
                  v-model="userEdition.role"
                  :items="roles"
                  label="Role"
                  required
                ></v-select>
              </v-col>
              <v-col cols="12">
                <v-text-field
                  v-model="userEdition.city"
                  label="City"
                  required
                ></v-text-field>
              </v-col>
            </v-row>
          </v-container>
          <small>*indicates required field</small>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="blue darken-1" text @click="close">
            Close
          </v-btn>
          <v-btn
            color="blue darken-1"
            text
            @click="save"
            :disabled="userEdition.name === ''"
          >
            Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>

<script>
import { ROLES } from "../../../core/types";

export default {
  name: "UserDialog",
  props: {
    open: Boolean,
    user: {
      name: { type: String, default: "" },
      role: { type: String, default: "" },
      city: { type: String, default: "" }
    }
  },
  data: function() {
    return {
      dialog: false,
      roles: ROLES,
      userEdition: { ...this.user }
    };
  },
  watch: {
    user() {
      this.userEdition = { ...this.user };
    }
  },
  methods: {
    reset() {
      this.userEdition = { ...this.user };
    },
    close() {
      this.reset();
      this.$emit("close");
    },
    save() {
      this.$emit("save", this.userEdition);
    }
  }
};
</script>
