<template>
  <div>
    <v-btn-toggle class="groupButtons" v-model="toggle_exclusive">
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn aria-label="vertical view" v-bind="attrs" v-on="on">
            <v-icon>
              mdi-reorder-vertical
            </v-icon>
          </v-btn>
        </template>
        <span>Horizontal view</span>
      </v-tooltip>
      <v-tooltip bottom>
        <template v-slot:activator="{ on, attrs }">
          <v-btn aria-label="horizontal view" v-bind="attrs" v-on="on">
            <v-icon>
              mdi-reorder-horizontal
            </v-icon>
          </v-btn>
        </template>
        <span>Vertical view</span>
      </v-tooltip>
    </v-btn-toggle>
    <FlexLayout :orientation="layoutOrientation">
      <div
        v-bind:class="[
          layoutOrientation === 'horizontal' ? 'itemHorizontal' : 'itemVertical'
        ]"
        v-for="user in users"
        :key="user.id"
      >
        <User
          :user="user"
          @update="editUser(user)"
          @remove="removeUser(user.id)"
        />
      </div>
    </FlexLayout>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

import FlexLayout from "../../../core/components/FlexLayout";
import User from "../components/User";

export default {
  name: "Users",
  props: {},
  data: () => ({
    toggle_exclusive: 0
  }),
  components: {
    FlexLayout,
    User
  },
  computed: {
    layoutOrientation: function() {
      return this.toggle_exclusive === 0 ? "horizontal" : "vertical";
    },
    ...mapState({
      users: (state) => state.users.items
    })
  },
  methods: {
    editUser(user) {
      this.userEdition = true;
      this.user = user;
      this.$emit("edit", user);
    },
    ...mapActions("users", ["removeUser", "getAllUsers"])
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.groupButtons {
  margin: 10px;
}
.itemHorizontal {
  padding: 1rem 0 0 1rem;
}
.itemVertical {
  padding: 0 1rem 1rem 0;
  /* flex: 0 0 25%; */
}
</style>
