<template>
  <div>
    <v-simple-table v-if="users.length !== 0">
      <template v-slot:default>
        <thead>
          <tr>
            <th class="text-left">
              Name
            </th>
            <th class="text-left">
              Role
            </th>
            <th class="text-left">
              City
            </th>
            <th class="text-left">
              Actions
            </th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="user in users" :key="user.id">
            <td>{{ user.name }}</td>
            <td>{{ user.role }}</td>
            <td>{{ user.city }}</td>
            <td>
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="primary"
                @click="editUser(user)"
                aria-label="edit user"
              >
                <v-icon dark>
                  mdi-pencil
                </v-icon>
              </v-btn>
              <v-btn
                class="mx-2"
                fab
                dark
                x-small
                color="primary"
                @click="removeUser(user.id)"
                aria-label="delete user"
              >
                <v-icon dark>
                  mdi-delete
                </v-icon>
              </v-btn>
            </td>
          </tr>
        </tbody>
      </template>
    </v-simple-table>
  </div>
</template>

<script>
import { mapState, mapActions } from "vuex";

export default {
  name: "TableUsers",
  components: {},
  data: () => ({}),
  computed: mapState({
    users: (state) => state.users.items
  }),
  methods: {
    editUser(user) {
      this.$emit("edit", user);
    },
    updateUser(user) {
      this.$emit("update", user);
    },
    ...mapActions("users", ["updateUser", "removeUser", "getAllUsers"])
  }
};
</script>
