<template>
  <v-app>
    <v-app-bar app color="primary">
      <div class="d-flex align-center">
        <v-img
          alt="Vuetify Logo"
          class="shrink mr-2"
          contain
          src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
          transition="scale-transition"
          width="40"
        />

        <h1>Users</h1>
      </div>

      <v-spacer></v-spacer>

      <v-btn-toggle v-model="toggle_exclusive">
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn aria-label="card view" v-bind="attrs" v-on="on">
              <v-icon>
                mdi-card-account-details
              </v-icon>
            </v-btn>
          </template>
          <span>Cards view</span>
        </v-tooltip>
        <v-tooltip bottom>
          <template v-slot:activator="{ on, attrs }">
            <v-btn aria-label="table view" v-bind="attrs" v-on="on">
              <v-icon>
                mdi-table
              </v-icon>
            </v-btn>
          </template>
          <span>Table view</span>
        </v-tooltip>
      </v-btn-toggle>
    </v-app-bar>

    <v-main>
      <div v-if="loading">Loading users...</div>
      <v-alert border="top" color="red lighten-2" v-if="errorMessage !== null">
        {{ errorMessage }}
      </v-alert>

      <CardsUsers v-if="toggle_exclusive === 0" @edit="editUser" />
      <TableUsers v-if="toggle_exclusive === 1" @edit="editUser" />
      <div class="pa-5">
        <UserCreator />
      </div>
      <UserDialog
        :open="userEdition"
        :user="user"
        @close="closeDialog"
        @save="saveUser"
        @update="updateUser"
      />
    </v-main>
  </v-app>
</template>

<script>
import { mapState, mapActions } from "vuex";

import CardsUsers from "./modules/User/pages/CardsUsers";
import TableUsers from "./modules/User/pages/TableUsers";
import UserCreator from "./modules/User/components/UserCreator";
import UserDialog from "./modules/User/components/UserDialog";

export default {
  name: "App",

  components: {
    TableUsers,
    CardsUsers,
    UserCreator,
    UserDialog
  },

  data: () => ({
    userEdition: false,
    user: {
      name: "",
      role: "",
      city: ""
    },
    toggle_exclusive: 0
  }),

  computed: mapState({
    loading: (state) => state.users.loading,
    errorMessage: (state) => state.users.errorMessage
  }),

  methods: {
    closeDialog() {
      this.userEdition = false;
    },
    saveUser(user) {
      this.userEdition = false;
      this.updateUser(user);
    },
    editUser(user) {
      this.userEdition = true;
      this.user = user;
    },
    ...mapActions("users", ["updateUser", "removeUser", "getAllUsers"])
  },

  created() {
    this.$store.dispatch("users/getAllUsers");
  }
};
</script>
