<template>
  <div
    class="flexContainer d-flex flex-wrap align-center"
    v-bind:class="[orientation === 'horizontal' ? 'flex-row' : 'flex-column']"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "FlexLayout",
  props: {
    orientation: { type: String, default: "horizontal" }
  }
};
</script>

<style scoped>
.flexContainer {
  margin-left: -1rem;
}
</style>
